<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Sign In</title>
</head>
<body>
  <form action="{% url 'signin' %}" method="POST">
    {% csrf_token %}
    <label for="username">Username:</label>
    <input type="text" name="username" id="username" required><br><br>

    <label for="password">Password:</label>
    <input type="password" name="password" id="password" required><br><br>

    <input type="submit" value="Sign In">
    <a href="{% url 'signup' %}">Don't Have any account</a>
  </form>
  <button><a href="{% url 'joblistforall' %}">All Jobs</a></button>
</body>
</html>
